.lists {
  padding: 6px;
}

.header-wrapper {
  background-color: #61dbfb;
  font-family: Helvetica Neue;
  padding: 25px;
  line-height: 1.5;
}

.main-wrapper {
  background-color: #f3f0f5;
}

.footer-wrapper {
  background-color: #61dbfb;
}

.user-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.tech-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1150px;
}
